.navbar ul{
  display: flex;
  list-style: none ;
  margin: 30px;
  font-size: 30px;
  font-weight: bold;


}
.navbar ul li{
  flex: 1;
  text-align: center;
}
.navbar ul li:first-child{
  flex: 6;
  text-align: left;
}
