<div *ngIf="index == 0">

</div>

<div *ngIf="index == 1">
  <p>Project unity มีการใช้ grid system ในการวางวัตถุต่าง ๆ ในเกม มีการใช้ input system และ state machine เข้ามาช่วย</p>
</div>

<div *ngIf="index == 2">
  <p>Project unity first person shooter games มีการใช้ unity navmeshagent ใน AI ของศัตรู มีการใช้ raycast ในการตรวจสอบวัตถุ</p>
</div>
<div *ngIf="index == 3">
  <p>Project HTML + CSS</p>
</div>
<div *ngIf="index == 4">
  <p>Project blender 3d</p>
</div>
<div *ngIf="index == 5">
  <p>Project blender 3d</p>
</div>

