<section>
  <div class="title scroll">
    <h2>programming</h2>
  </div>
  <div class="content scroll">
    <ul>
      <li>Angular : ดี</li>
      <li>Python : พอใช้</li>
      <li>C# : ดี</li>
      <li>C : ดี</li>
      <li>SQL : เริ่มต้น</li>
      <li>C++ : เริ่มต้น</li>

    </ul>

  </div>
</section>

<section>
  <div class="title scroll">
    <h2>IDE And dev TooLs</h2>
  </div>
  <div class="content scroll">
    <ul>
      <li>Unity : ดี</li>
      <li>Visual Studio : ดี</li>
      <li>Visual Studio Code : ดี</li>
      <li>Putty : เริ่มต้น</li>
      <li>Navicat : เริ่มต้น</li>
      <li>Postman : เริ่มต้น</li>
      <li>Git : ดี</li>

    </ul>

  </div>
</section>

<section>
  <div class="title scroll">
    <h2>Language</h2>
  </div>
  <div class="content scroll">
    <ul>
      <li>Thai</li>
      <li>English</li>
    </ul>

  </div>
</section>

<section>
  <div class="title scroll">
    <h2>Relevant courses</h2>
  </div>
  <div class="content scroll">
    <ul>
      <li>Object oriented programming</li>
      <li>Software development process</li>
      <li>Algorithms design & analysis</li>
      <li>Information and management system</li>
      <li>Social ethical and legal issues in computer science</li>
      <li>Data structures</li>
    </ul>

  </div>
</section>
<section style="margin-bottom: 20px;">
  <div class="title scroll">
    <h2>Certificate</h2>
  </div>
  <div class="content scroll" style="display: block;">
    <ul>
      <li>React ตั้งแต่พื้นฐาน จนสร้าง Chat Application  ได้</li>
      <div class="picture certificate1" ></div>
      <li>สร้างเว็บไซต์จากเริ่มต้นจนถึงมือโปร ด้วย HTML5/CSS3/JavaScript</li>
      <div class="picture certificate2" ></div>
      <li>คอร์ส สร้างสรรค์งานอาร์ตแบบมีสไตล์ด้วยแอพ Procreate</li>
      <div class="picture certificate3" ></div>
      <li>คอร์ส สร้าง Game Application ตั้งแต่เริ่มต้น จนเล่นได้จริงทั้งบน PC และ Mobile จาก Unity 3D</li>
      <div class="picture certificate4" ></div>
      <li>คอร์ส วาดภาพสีน้ำสร้างคาแรกเตอร์และภาพสไตล์โบทานิคัลบน Procreate ให้มีเอกลักษณ์กับเจ้าของเพจ “เลขา”</li>
      <div class="picture certificate5" ></div>
    </ul>

  </div>
</section>
