<section>
  <div class="title">
    <h2>programming</h2>
  </div>
  <div class="content">
    <ul>
      <li>Angular : ดี</li>
      <li>Python : พอใช้</li>
      <li>C# : ดี</li>
      <li>C : ดี</li>
      <li>SQL : เริ่มต้น</li>
      <li>C++ : เริ่มต้น</li>

    </ul>

  </div>
</section>

<section>
  <div class="title">
    <h2>ide And dev TooLs</h2>
  </div>
  <div class="content">
    <ul>
      <li>Unity : ดี</li>
      <li>Visual Studio : ดี</li>
      <li>Visual Studio Code : ดี</li>
      <li>Putty : เริ่มต้น</li>
      <li>Navicat : เริ่มต้น</li>
      <li>Postman : เริ่มต้น</li>
      <li>Git : ดี</li>

    </ul>

  </div>
</section>

<section>
  <div class="title">
    <h2>Language</h2>
  </div>
  <div class="content">
    <ul>
      <li>Thai</li>
      <li>English</li>
    </ul>

  </div>
</section>

<section>
  <div class="title">
    <h2>Relevant courses</h2>
  </div>
  <div class="content">
    <ul>
      <li>Object oriented programming</li>
      <li>Software development process</li>
      <li>Algorithms design & analysis</li>
      <li>Information and management system</li>
      <li>Social ethical and legal issues in computer science</li>
      <li>Data structures</li>
    </ul>

  </div>
</section>
