<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="navbar">
    <ul>
        <li><a href="">home</a></li>
        <li><a href="Project">My project</a></li>
        <!-- <li><a href="">Work Experience</a></li> -->
        <li><a href="Skill">Skill</a> </li>
    </ul>
  </div>


  <div><app-nav-top></app-nav-top></div>
  <div>
    <router-outlet></router-outlet>

  </div>

  <app-footer></app-footer>
</body>

</html>
