<section>
  <div class="title">
    <h2>My project</h2>
  </div>
  <div class="content">
    <ul>
      <li>Lathe Machine MRTK( Practical training project) :<a href="https://drive.google.com/file/d/1ZjV_oLcDuys9HzaOMJQ0KFdqO6dXaZSG/view?usp=sharing"> link</a> </li>
      <li>Computer engineering project : <a href="https://drive.google.com/file/d/1zidmqs2noQE1RvpbptkdRagEAyhOn8Km/view"> link</a></li>
      <li>Project OOP (java) : <a href="https://github.com/Jatumongkon/firstPokemon"> link</a></li>
      <li>HTML CSS project : <a href="https://github.com/Jatumongkon/HTML-CSS">link</a></li>
    </ul>
    <div class="game hololens">

    </div>
    </div>

</section>

<section>
  <div class="title">
    <h2>My game project</h2>
  </div>
  <div class="content">
    <ul>
      <li>Roguelike Top-Down Project :<a href="https://tajatuingamedev.itch.io/subprocess"> link</a> </li>
      <li>Top-down Shooting Project : <a href="https://tajatuingamedev.itch.io/over-iron-in-sky"> link</a></li>

    </ul>
    <div class="game"></div>
    </div>

</section>

