/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "THSarabunNew";
  src: url("./src/THSarabunNew.ttf");
}
body {

  font-family: "THSarabunNew";
  background-color: #232830;
  color: #FFFFFF;
  margin: 0;

}
p{
  font-size: 20px
}
li{
  font-size: 20px
}
/* @import "tailwindcss"; */
/* .title:hover{
  background:white;
  color:black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-top: 5px;
} */
