/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "THSarabunNew";
  src: url("./src/THSarabunNew.ttf");
}
body {

  font-family: "THSarabunNew";
  background-color: #232830;
  color: #FFFFFF;
  border: 0;

}
