<section>
  <div class="home">
    <div class="profile1 scroll" alt="Jatumongkhon"  style="margin: auto;"> </div>
    <div class="scroll">
        <h1>About me.</h1>
        <p>สวัสดีครับ ผมนาย <b>จตุมงคล แสงพุ่ม </b>  Full stack developer มีประสบการณ์การทำงานโดยใช้ Angular 1 ปี  โครงงานจบการศึกษาเกี่ยวกับแยกประเภทข้อความที่มีบุคลิกภาพเชิงลบ โดยใช้การประมวลผลภาษาธรรมชาติ สนใจในการพัฒนาแอปพลิเคชัน ปัญญาประดิษฐ์ และการพัฒนาเกม มีความเข้าใจในทฤษฎีอัลกอริทึมและหลักกระบวนการพัฒนาต่าง ๆ สามารถทำงานร่วมกับเพื่อนร่วมงานได้ง่าย มีความสนใจในการเรียนรู้สิ่งใหม่ ๆ ตลอดเวลา ​
        </p>
        <p>Hello, I am <b>Jatumongkhon Saengphum</b>, a Full Stack Developer with one year of experience working with Angular. My graduation project focused on classifying text with negative personality traits using natural language processing (NLP). <br>

          I am passionate about application development, artificial intelligence, and game development. I have a solid understanding of algorithm theory and various development processes. I work well with colleagues and am always eager to learn new things.</p>
    </div>


  </div>
</section>
<section>
  <div class="title scroll">
    <h2>Education</h2>
  </div>
  <div class="home scroll">
    <div >
      <h1>มหาวิทยาลัยสงขลานครินทร์ วิทยาเขตหาดใหญ่</h1>
      <h2>คณะวิศวกรรมศาสตร์  สาขาวิชาวิศวกรรมคอมพิวเตอร์</h2>
      <ul>
        <li>2018 - 2022</li>
        <li>GPA 2.93</li>
      </ul>

    </div>
  </div>
</section>
<section>
  <div class="title scroll">
    <h2>Work Experience</h2>
  </div>
  <div class="home scroll">
    <div>
      <h2>BeNEW eSAN co., ltd  2022 - 2024</h2>
      <p>Full Stack Developer</p>
      <ul>
        <li>พัฒนาเว็บไซต์โดยใช้ Angular framework รวมกับส่วนขยาย Devextreme</li>
        <li>แก้ไขและพัฒนาเว็บไซต์ตาม Requirement ของทีม</li>
        <li>Support ข้อมูลลูกค้า</li>
        <li>เขียน api บันทึกข้อมูลลงฐานข้อมูล</li>
      </ul>
    </div>
    <div>
      <h2>Prince of Songkla University Hat Yai Campus</h2>
      <p>Intern</p>
      <ul>
        <li>
          พัฒนาแอปพลิเคชันจำลองการใช้เครื่องกลึงในแว่น HoloLens2 โดยใช้โปรแกรม Unity และ Mixed Reality Toolkit ( MRTK ) โดยแอปพลิเคชันจะสาธิตใช้งานเครื่องกลึงเบื้องต้นเพื่อให้ผู้ใช้งานสามารถใช้งานเครื่องกลึงจริงได้ง่ายยิ่งขึ้น และเพิ่มความกระตือรือร้นในการเรียนรู้แก่ผู้ใช้งาน โดยแอปพลิเคชันจะรองรับภาษาไทย
        </li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div  class="title scroll">    <h2>HOBBY</h2></div>
  <div  class="home scroll">
    <div>
      <ul>
        <li>ฟังพอดแคสต์</li>
        <li>เล่นเกม</li>
        <li>พัฒนาเกม</li>
        <li>วาดรูป</li>
      </ul>
    </div>
    <div></div>
  </div>
</section>
