<div class="home">
  <div class="profile1" alt="Jatumongkhon" > </div>
  <div s>
      <h1>About me.</h1>
      <p>สวัสดีครับ ผมนาย <b>จตุมงคล แสงพุ่ม </b>  Full stack developer มีประสบการณ์การทำงานโดยใช้ Angular 1 ปี  โครงงานจบการศึกษาเกี่ยวกับแยกประเภทข้อความที่มีบุคลิกภาพเชิงลบ โดยใช้การประมวลผลภาษาธรรมชาติ สนใจในการพัฒนาแอปพลิเคชัน ปัญญาประดิษฐ์ และการพัฒนาเกม มีความเข้าใจในทฤษฎีอัลกอริทึมและหลักกระบวนการพัฒนาต่าง ๆ สามารถทำงานร่วมกับเพื่อนร่วมงานได้ง่าย มีความสนใจในการเรียนรู้สิ่งใหม่ ๆ ตลอดเวลา ​
      </p>
      <p>Hello, I am <b>Jatumongkhon Saengphum</b>, a Full Stack Developer with one year of experience working with Angular. My graduation project focused on classifying text with negative personality traits using natural language processing (NLP). <br>

        I am passionate about application development, artificial intelligence, and game development. I have a solid understanding of algorithm theory and various development processes. I work well with colleagues and am always eager to learn new things.</p>
  </div>
</div>
